{% extends 'base.html' %}
{% block title %}Record Payment{% endblock %}
{% block page_title %}Record Payment{% endblock %}

{% block content %}
<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Record Actual Payment</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="card-body">
            {{ form.as_p }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Save Payment</button>
        </div>
    </form>
</div>
{% endblock %}
